<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @review.restaurant %>
</p>

<p>
  <strong>Reviewer name:</strong>
  <%= @review.reviewer_name %>
</p>

<p>
  <strong>Reviewer email:</strong>
  <%= @review.reviewer_email %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
