<!DOCTYPE html>
<html id="ng-app" ng-app="healthy">
  <head>
    <title>Healthy Restaurant Finder</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <base href="/">
  </head>

  <body>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <%= yield %>
  </body>
</html>
